.idea/
.venv/
app/api/__pycache__/
app/api/common/__pycache__/
app/api/v1/__pycache__/
app/__pycache__/
app/hook/__pycache__/
app/middleware/__pycache__/
app/model/__pycache__/
app/utils/__pycache__/
log/
data/*
!/data/*.csv
conf/firebase_adminsdk_credentials.json
app/service/__pycache__/
app/service/handler/__pycache__/
app/service/search/__pycache__/
app/service/booking/__pycache__/
app/command/__pycache__/
app/service/history/__pycache__/
conf/*
!conf/*.sample
!conf/sample.ini
*.pyc
