botocore==1.10.12
falcon==1.4.1
pyjwt==1.7.1
gunicorn==19.9.0
pymongo==3.7.2
mongoengine==0.16.3
firebase_admin==2.14.0
cryptography==2.4.2
mailchimp3==3.0.6
shortuuid==0.5.0
numpy==1.15.4
sendgrid==5.6.0
python_http_client==3.1.0

